.about__donation {
  height: 30px;
}

h3 {
  font-size: 1rem;
  font-weight: 700;
  font-style: italic;
  color: var(--color-headline);
}

h4 {
  font-size: 0.9rem;
  font-weight: 700;
  font-style: italic;
  color: var(--color-headline);
  margin-bottom: 0.25rem;
}

h5 {
  font-size: 0.85rem;
  font-weight: 600;
  font-style: italic;
  color: var(--color-headline);
  margin-bottom: 0.25rem;
}

.double__column {
  width: 50%;
  padding: 0 2rem 1rem 2rem;
  position: relative;
}

.column {
  width: 25%;
  padding: 0 2rem 1rem 2rem;
  position: relative;
}

.column::before {
  content: "";
  left: 1rem;
  top: 0;
  width: 2px;
  position: absolute;
  background-color: var(--color-list);
  height: 100%;
}

.column::after {
  content: "";
  right: 1rem;
  top: 0;
  width: 2px;
  position: absolute;
  background-color: var(--color-list);
  height: 100%;
}

.double__column::before {
  content: "";
  left: 1rem;
  top: 0;
  width: 2px;
  position: absolute;
  background-color: var(--color-list);
  height: 100%;
}

.double__column::after {
  content: "";
  right: 1rem;
  top: 0;
  width: 2px;
  position: absolute;
  background-color: var(--color-list);
  height: 100%;
}
